# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules/
dist/
dist-ssr/

# Environment files
*.local
*.env

# Ignore the mock folder inside src
/src/mock/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows-specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS Finder files
.AppleDouble
.LSOverride

# Other editor files
*.swp
*.swn
