.header{
    margin-bottom: 10px;
}
.icon-rounded{
    position: relative;
    cursor: pointer;
}
.user-icon{
   position: absolute;
   top: 20%;
   left: 5px;
}
.favicon{
    margin-left: 5vw;
}
.search-bar{
    margin-right: 4vw;
}
.header-commitment {
    transform: translateY(-50%);
    animation: moveLeftToRight 15s linear infinite; /* 10s is the speed of movement */
  }
  
  /* Define the keyframes for moving from left to right */
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%); /* Start off-screen on the left */
    }
    100% {
      transform: translateX(100%); /* Move completely off-screen to the right */
    }
  }
  

   