.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Chiều cao 100% của viewport */
    background-color: #fff;
}

.page-not-found img {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng màn hình */
    max-height: 100%; /* Đảm bảo ảnh không vượt quá chiều cao màn hình */
    object-fit: contain; /* Giữ tỷ lệ khung hình của ảnh */
}