.home_container {
  display: flex;
  margin: auto;
  width: 90vw;
  justify-content: space-between;
}
.home_sidebar {
  width: 20%;
}
/* Custom scrollbar hidden */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar */
  background: transparent; /* Optional: Make the background transparent */
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Optional: If you want to make sure scrollbars are hidden for all browsers */
.home_sidebar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.home_body {
  width: 78%;
}
