.cart-wrapper {
  width: 93vw;
  margin: auto;
}
.userCart-content {
  width: 60vw;
}
.userCart-container {
  display: flex;
  gap: 20px;
}
.item-details {
  display: flex;
  width: 70%;
}
.userCart-list {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity-selector {
  height: 30%;
  display: flex;
  button {
    width: 30px;
    border-radius: none;
  }
  button:hover {
    background-color: #d85251;
    color: white;
  }
  button:active {
    background-color: #8c0327;
    color: white;
  }
  .item-quantity {
    width: 30px;
    text-align: center;
  }
}

.button-remove:hover {
  color: red;
}
.order-details {
  padding: 10px;
  height: fit-content;
}
.order-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.order-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-total {
  //   margin-top: 2px;
  //   border-top: 1px solid rgb(180, 177, 177);
  //   padding-top: 2px;
}
.order-item-total {
  border-top: 1px solid rgb(180, 177, 177);
  padding-top: 5px;
}
.order-info-row {
  display: flex;
  justify-content: space-between;
}
.order-item-info {
  display: flex;
  //   gap: 10px;
  align-items: center;
}
